# Build results
bin/
obj/
out/

# Visual Studio
.vs/
*.user
*.suo
*.userosscache
*.sln.docstates

# Packages
*.nupkg
*.snupkg
**/packages/*
!**/packages/build/
!**/packages/repositories.config

# Compiled binaries
*.dll
*.exe
*.pdb
*.cache
*.log

# Others
[Tt]emp/
*.dbmdl
*.bak
*.swp
*.tmp

# Ignore Test Results
TestResult*/
*.trx

# Publish outputs
publish/
