@model GerenciadorDeTarefas.Models.ViewModels.TarefaFormViewModel
@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    ViewData["Title"] = "Atualizar tarefa";

}

<h1>@ViewData["Title"]</h1>

<div class="row">
    <div class="col-md-4">
        
        <form asp-action="Edit" method="post" class="mt-2">
            <input type="hidden" asp-for="tarefa.Id" />
            <div class="form-group">
                <label asp-for="tarefa.Titulo" class="form-label"></label>
                <input asp-for="tarefa.Titulo" class="form-control" />
            </div>
            <div class="form-group">
                <label asp-for="tarefa.Descricao" class="form-label"></label>
                <textarea asp-for="tarefa.Descricao" class="form-control"></textarea>
            </div>
            <div class="form-group mt-2">
                <label asp-for="tarefa.Status" class="form-label"></label>
                <select asp-for="tarefa.Status" asp-items="@Model.statusLista" class="form-control"></select>
            </div>
            <div class="form-group mt-2">
                <input type="submit" value="Atualizar" class="btn btn-secondary" />
            </div>
        </form>
    </div>
</div>